<div id="container">
	<% @v_num = 10  %>
	<% @h_num = 4  %>
	<table width="840" cellspacing="0" cellpadding="0" border="0">
		<img src="img/aji.png">
		<tbody>
			<% @v_num.times do |i| %>
			  <tr>
					<% @h_num.times do |j|  %>
						<% #spot  %>
					  <% spid = (i*@h_num)+j %>
						<% sp =  @spots[spid] %>
						<% sp ||=  Spot.new %>

					  <td width="200">
							<div class="cat_box">
								<%= link_to sp.name.to_s, sp  %>
								<hr>
 								<%= sp.pref%>
								<hr>

  								<%= link_to sp.pic0.url do  %>
    							  <%= image_tag sp.pic0.url(:small) %>
  								<% end  %>

									<div class="size12ao">
										<br>
										見頃の時期：<%= sp.info_1.to_s.gsub(/(.{10}).*/, '\1...') %><br>
										種別・株数：<%= sp.info_2.to_s.gsub(/(.{9}).*/, '\1...') %><br>
										アクセス：<%= sp.access_train.to_s.gsub(/(.{30}).*/, '\1...') %>
									</div>
						</td>
					  <td width="13">
						</td>						
					<% end  %>
				</tr>
			<% end  %>
		</tbody>
	</table>
</div>
