<%= render :partial => 'header', :locals=>{:current => 2} %>
<br />
<%= @spot.name %> 様　取材ご協力ありがとうございました。<br />
下記の通り登録されております。ご確認くださいませ。
<%= link_to '修正する', edit_spot_path %><br />
<%= link_to @spot.pic0.url do  %>
	<%= image_tag @spot.pic0.url(:small) %>
<% end  %>
<%= link_to @spot.pic1.url do  %>
	<%= image_tag @spot.pic1.url(:small) %>
<% end  %>
<%= link_to @spot.pic2.url do  %>
	<%= image_tag @spot.pic2.url(:small) %>
<% end  %>

<p>
<%= show_for @spot do |f| %>
	<% @spot.active_column_names.each do |col_name| %>
		<%= f.attribute col_name.to_sym, :label => @spot.header[col_name + '_label'], :if_blank => "(空欄)" %>
	<% end  %>
<% end  %>
</p>



<br />
<%= link_to '修正する', edit_spot_path %><br />
<%= render 'footer' %>
