<% title = "#{@spot.project.genre.name}:#{@spot.name_with_pref}"  %>
<% content_for :title, title  %>
<ul class="breadcrumb">
	<li><a href="/">HOME</a> <span class="divider">/</span> </li>
	<li><%= link_to resource.genre.name, Project %><span class="divider">/</span></li>
	<li><%= link_to resource.project.name, resource.project %></li><span class="divider">/</span>
	<li class="active"><%= resource.name_with_pref %></li>
</ul>

<div id="gallery">
	<% %w[pic0 pic1 pic2].each do |pic| %>
		<% if @spot.send(pic + '_file_name') %>
			<%= link_to @spot.send(pic).url, :rel => 'lightbox[spots]', :title => @spot.name do  %>
				<%= image_tag @spot.send(pic).url(:small), :alt => @spot.name_with_pref %>
			<% end %>
		<% end %>
	<% end %>
</div>
<p>
<%= show_for @spot do |f| %>
	<% @spot.active_column_names.each do |col_name| %>
		<%= f.attribute col_name.to_sym, :label => @spot.header[col_name + '_label'], :if_blank => "(空欄)" %>
	<% end  %>
	<% src = "http://jjworkshop.com/cgi-bin/gmap/map.cgi?lat=#{@spot.lat_world}&lng=#{@spot.lng_world}&sc=16&w=600&h=340&sm=1&memo=&url=&fsp=80&mpc=1&msc=1&mtc=1&mov=1&mtp=0" %>
	<iframe src="<%= src %>" width="600" height="340" frameborder="0" scrolling="off" style="border:1px solid #888888;margin:0px 0px 0px 0px;"></iframe>
<% end  %>
</p>


<br />
<%= render 'footer' %>
<script type="text/javascript">

</script>
