<h5>HOME > <%= resource.genre.name %></h5>
<h2><%= resource.genre.name %>「<%= resource.name %>」</h2>
<div id='content' style="width:540px">
<%= resource.description %>
<div id="ymap" style="width:100%; height:480px"></div>
<script type="text/javascript">
<!--
window.onload = function(){
  //alert('hoge');
  window.pt = new MyMap("ymap");
};
//-->
</script>
<% resource.spots.active.each_with_index do |sp, i|  %>
	<% if i%4 == 0  %>
		<br>		<br>
	<% end  %>

	<%= link_to sp do  %>
		<%= image_tag sp.pic0.url(:small) %>
		 
	<% end  %>

<% end  %>
</div>
