<% title = "#{resource.genre.name} 「#{resource.name}」" %>
<% content_for :title, title %>

<ul class="breadcrumb">
	<li><a href="/">HOME</a> <span class="divider">/</span> </li>
	<li><%= link_to resource.genre.name, Project %><span class="divider">/</span></li>
	<li class="active"><%= resource.name %></li>
</ul>

<h2><%= title %></h2>
<% spots = resource.spots.active %>
<div id='content' style="width:690px">
<%= resource.description %>
<%= resource.created_at.strftime("(%Y/%m)") %>

<ul class="champagne">
	<% spots.each_with_index do |sp, i|  %>
		<li>
			<%= link_to sp do  %>
				<%= image_tag sp.pic0.url(:small), :class => "tip", :title => sp.name_with_pref, :alt => sp.name_with_pref %>
			<% end  %>
		</li>
	<% end  %>
</ul>
<%= render :partial => "spotsmap", :locals => {:spots => spots} %>
</div>
