<h5>HOME > <%= resource.genre.name %></h5>
<h2><%= resource.genre.name %>「<%= resource.name %>」</h2>
<% spots = resource.spots.active %>
<div id='content' style="width:540px">
<%= resource.description %>

<script type="text/javascript">
<!--
window.onload = function(){
  //alert('hoge');
  window.map = new MyMap("ymap");
	//window.map.drawJapan();
	window.map.drawHonshu();
	window.map.hideSearch();
	window.map.hideCenterMark();

	<% spots.each do |sp| %>
		window.map.addLinkMarker(<%= sp.lat_world %>,<%= sp.lng_world %>, "<%= spot_path(sp) %>", {title:"<%= sp.name %><br><img src=<%= sp.pic0.url(:small) %>><br><%= sp.about_body.first(10) + '…' %>"});
	<% end  %>
};
//-->
</script>
<div id="ymap" style="width:97%; height:320px"></div>
<% spots.each_with_index do |sp, i|  %>
	<% if i%4 == 0  %>
		<br>		<br>
	<% end  %>

	<%= link_to sp do  %>
		<%= image_tag sp.pic0.url(:small) %>
		 
	<% end  %>

<% end  %>

</div>
