<!DOCTYPE html>
<% resource ||= Project.public.last %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "W2g" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag controller.controller_name %>
    <%= stylesheet_link_tag 'bootstrap_and_overrides' %>

    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Gallery <%= action_name %>: <%= resource.genre.name %></a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%#= link_to "Link22", "/path1"  %></li>
              <li><%#= link_to "Link2", "/path2"  %></li>
              <li><%#= link_to "Link3", "/path3"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Related Contents:<br><%= resource.genre.name %></li>
							<% Project.with_genre(resource.genre).order('created_at DESC').each do |pj| %>
								<li><%= link_to pj.name, project_path(pj)  %></li>
							<% end  %>
            </ul>
          </div><!--/.well -->
					<% if resource.pref  %>
						<div class="well sidebar-nav">
							<ul class="nav nav-list">
								<li class="nav-header">Related Spots:<br><%= resource.pref %></li>
								<% Project.order('created_at DESC').with_genre(resource.genre).public.each do |pj|  %>
									<% spots = pj.spots.active.find_all_by_pref(resource.pref) %>
									<% if spots.size > 0  %>
										<li class="nav-header"><%= pj.name %></li>
										<% spots.each do |sp|  %>
											<li><%= link_to(sp.name, spot_path(sp))  %></li>											
										<% end  %>
									<% end  %>
								<% end  %>
							</ul>							
						</div><!--/.well -->
					<% end  %>
        </div><!--/span-->
        <div class="span9">
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p><a href="<%= @org.url %>">&copy; <%= @org.name %></a></p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap" %>
		<%= javascript_include_tag "http://js.api.olp.yahooapis.jp/OpenLocalPlatform/V1/jsapi?appid=#{W2g::Application.config.yappid}" %>
    <%= javascript_include_tag controller.controller_name %>
  </body>
</html>
